/* pagina mural */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.label-captura {
  display: flex;
  justify-content: center;
}

.dash-right .avisos {
  width: 100%;
  color: #5D473A;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 95%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 95%;
}

.dash-right .avisos .div-form label {
  width: 95%;
}

.dash-right .avisos .div-form input {
  width: 95%;
  border-radius: 5px;
  border: 3px solid #5D473A;
}

.dash-right .avisos .div-form textarea {
  width: 95%;
  border: 3px solid #5D473A;
  background-color: white;
  border-radius: 5px;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #e6005a;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #e6005a;
  padding: 20px;
}

.publicacao>*:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons>* {
  margin-left: 30px;
}

/* pagina graficos */

.dash-header {
  background-color: #212124;
}

.inicioQuiz {
  width: 82%;
  position: relative;
  top: 0;
  left: 18%;
  background-color: #E8E4E3;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiztitulo {
  display: flex;
  margin-bottom: 25px;
  width: 30vw;
  height: 13vh;
  background-color: #CFB8A9;
  color: #5D473A;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  border: 2px solid #5D473A;
}

.jogar {
  display: flex;
  flex-direction: column;
  width: 43vw;
  height: 23vh;
  background-color: #CFB8A9;
  color: #5D473A;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  border: 2px solid #5D473A;
}

.btt{
  display: flex;
  font-size: 28px;
  border-radius: 5px;
  width: 15vw;
  height: 7vh;
  color: #E8E4E3;
  background-color: #5D473A;
  justify-content: center;
  align-items: center;
}

.kpis {
  display: flex;
  width: 100%;
  height: 20vh;
  gap: 10px;
  margin-left: 25vw;
  margin-top: 10vh;
}

.caixa {
  display: flex;
  width: 40px;
  height: 25px;
  background-color: #42a5f5;
}

.das {
  display: flex;
  width: 82%;
  position: relative;
  top: 0;
  left: 18%;
  background-color: #E8E4E3;
  height: 100vh;
  overflow: hidden;
  display: none;
}

.dash .titulo {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dash .conteudo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box_pergunta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 35vw;
  height: 55vh;
  background-color: #CFB8A9;
  padding: 10px;
  border: 2px solid #5D473A;
}

.pergunta {
  display: flex;
  flex-direction: column;
  margin-bottom: 11vh;
}

.pergunta p {
  font-size: 25px;
}

.div_alternativas {
  display: flex;
  flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 80%;
    justify-content: center;
    background-color: #E8E4E3;
}

.altAB {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 1vw;
}

.altCD {
  display: flex;
  justify-content: space-around;
  gap: 1vw;
  margin-top: 1vw;
  width: 100%;
}

.box_A{
  display: flex;
  background-color: #42a5f5;
  width: 15vw;
  height: 8vh;
  padding: 20px;
  border: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  text-transform: uppercase;
}

.box_B{
  display: flex;
  background-color: #5df542;
  width: 15vw;
  height: 8vh;
  padding: 20px;
  border: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  text-transform: uppercase;
}

.box_C{
  display: flex;
  background-color: #f5428a;
  width: 15vw;
  height: 8vh;
  padding: 20px;
  border: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  text-transform: uppercase;
}

.box_D{
  display: flex;
  background-color: #f5e942;
  width: 15vw;
  height: 8vh;
  padding: 20px;
  border: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  text-transform: uppercase;
}

.box_imagem {
  display: flex;
  width: 20vw;
  height: 50vh;
  background-color: #42a5f5;
  justify-content: center;
  align-items: center;
}

.imagemQuiz img {
  display: flex;
  width: 20vw;
  height: 50%;
}

.area-parametros-alerta {
  /* border: 2px solid pink; */
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  margin-top: 10px;
  background-color: #212124;
}

.area-parametros-alerta .titulo-legenda {
  color: white;
  font-weight: 600;
  width: fit-content;
  margin: 10px 20px;
}

.parametros-alerta {
  display: flex;
  width: 100%;
}

.item-regua {
  width: 20%;
  text-align: center;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.item-regua p {
  margin: 0;
  font-weight: 500;
}

.item-regua p:nth-child(2) {
  font-weight: 800;
}

.perigo-frio {
  background-color: #5c6bc0;
}

.perigo-quente {
  background-color: #ff7043;
}

.alerta-frio {
  background-color: #42a5f5;
}

.alerta-quente {
  background-color: #ffee58;
}

.ideal {
  background-color: #9ccc65;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 450px;
  width: 100%;
  align-items: center;
  color: white;
}

.card-aquario {
  margin: 2%;
  min-width: 40%;
  max-width: 50%;
  width: fit-content;
  flex-wrap: wrap;
  display: flex;
  /* text-align: center; */
  height: 180px;
  /* justify-content: right; */
  background-color: #212124;
  font-size: 20px;
}

.card-aquario h1 {
  width: fit-content;
}

.card-aquario p {
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
  text-align: left;
}

.desc-aquario {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.desc-aquario .cor-alerta {
  width: 30px;
}

.title-aquario {
  width: 100%;
}


.cards h1 {
  font-size: 22px;
  border-bottom: solid white 1px;
  text-align: left;
  font-weight: lighter;
  margin: 20px;
}

.temperatura,
.umidade {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}

.cor-alerta {
  width: 13%;
  height: 30%;
  border-radius: 50%;
  display: inline-block;
}

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
  padding: 0 30% 0 30%;
}

.graph {
  width: 70%;
  margin: auto;
  padding-top: 10px;
}

.tituloGraficos {
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
}

.btn-chart {
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: #5D473A;
  background-color: white;
  margin: 5px;
  border-radius: 3px;
  cursor: pointer
}

.btn-pink {
  color: #5D473A;
  background-color: #E8E4E3;
}

.btn-white {
  color: #E8E4E3;
  background-color: #5D473A;

}

.label-captura {
  height: 80px;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

/* PAGINA DOS GRÁFICOS 2023 */

.janela {
  display: flex;
  flex-direction: column;
  /* width: 100vw; */
}

.header-left a {
  text-decoration: none;
  color: #5D473A;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 4px solid #5D473A;
  background-color: #CFB8A9;
}

/* #5D473A */
/* #E8E4E3 */
/* #CFB8A9 */

.dash-right {
  display: flex;
  width: 85%;
  height: fit-content;
  background-color: #E8E4E3;
  position: relative;
  top: 0;
  left: 15%;
  height: 100vh;
  overflow: auto;
}

.dash-right span {
  font-size: 20px;
  color: #5D473A;
}

.header-left h1 {
  color: #5D473A;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #5D473A;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: white;
  background-color: #5D473A;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: white;
  border: 3px solid #5D473A;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: #5D473A;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

#btnh3 {
  color: white;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #5D473A;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

.imgLogo {
  width: 100%;
}

/*  Estilo quiz*/

.body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  background: linear-gradient(90deg, #5D473A 0%, #CFB8A9 100%);
}

.body h2 {
  color: white;
  font-size: 40px;
}

.conteudos {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 180px;
  align-items: center;
}

main {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.spnQtd {
  text-align: end;
  font-size: 20px;
}

.question {
  font-size: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.answers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button {
  width: 20vw;
  text-align: center;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(90deg, #5D473A 0%, #CFB8A9 100%);
  color: #E8E4E3;
  font-size: 18px;
}

.finish {
  display: none;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
}

.finish button {
  text-align: center;
}

.bandeira {
  padding: 10px;
  border-radius: 10px;
  width: 400px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  height: 100%;
}


/* DASHBOARD */

.dashboardCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 81.6%;
  height: fit-content;
  margin-left: 50px;
  background-color: #e3dad7;
  position: relative;
  top: 0;
  left: 15%;
  height: 100vh;
  overflow: auto;
  /* gap: 10px; */
}

.KPIS {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.KPIS span {
  font-size: 25px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #5D473A;
}

.kpiTotal {
  width: 22%;
  height: 90px;
  background-color: #e3dad7;
  text-align: center;
  border-radius: 5px;
  border: 3px solid #5c6bc0;
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.totalPontos {
  font-size: 25px;
}

.kpiMaxima {
  width: 22%;
  height: 90px;
  background-color: #e3dad7;
  text-align: center;
  border-radius: 5px;
  border: 3px solid #5c6bc0;
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.pontoMaximo {
  font-size: 25px;
}

.dashboardCard h2 {
  font-size: 30px;
  color: #5D473A;
}

.chartGrafico {
  width: 800px; 
  height: 400px;
  background-color: #f0eceb;
}